*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(assest/pexels-maxyne-barcel-10402282\ 1.png);
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    height: 20%;
}
button{
    background-color: rgb(230, 83, 83);
    color: #fafafa;
    border: 2px solid black;
    border-radius: 3px;
    font-weight: 600;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 60px;
    list-style: none;
    color: rgb(255, 255, 0);
    font-weight: 600;
}
nav ul li{
    cursor: pointer;
}
.logo{
    cursor: pointer;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 100px;
    font-weight: 600;
}
.menu_button{
    display: flex;
    align-items: center;
    justify-content: center;

}
.scroll_logo{
    display: flex;
    align-items: center;
    /* justify-content: end; */
    float: right;
    padding-right: 50px;
}
