*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0f0f10;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0 15vw;
  }
  
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;

}

nav img {
    width: 25px;
    height: 25px;
}

a{
    text-decoration: none;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}
nav ul li a {
    font-weight: 700;
    font-size: 14px;
    color: white;
  }
.shop_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_button button{
    background: #1e1e21;
    border-radius: 8px;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 40px;
}
.main {
    margin-left: 180px;
  }
.on_ear_page{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    position: relative;
}

.mainImg{
    width: 230px;
    position: relative;
    top: -250px;
    left: 70px;
}

.onEarImg {
    width: 320px;
    margin-left: 50px;
}

.main h1 {
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 25px;
}
  
.main h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 25px;
}
  
.main p {
    width: 65%;
    font-size: 12px;
    font-weight: 500;
    color: #bdc0c2;
    line-height: 25px;
    margin-bottom: 25px;
}

.shopping-bag-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e21;
    gap: 20px;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 25px;
}

.shopping-bag-section img{
    width: 15px;
    background-color: transparent;
}

.shopping-bag-section p {
    margin-bottom: 0;
    color: white;
    background-color: transparent;
}
.shopping-bag-section span{
    background-color: transparent;
}

.social-media-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    top: -50px;
    margin-bottom: 40px;
}
.social-media-section img {
    /* scale: 0.8; */
    width: 75px;
}

.specs{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.specs_logo{
    margin-bottom: 20px;
}

.specsification_list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.specs_left_side div{
    margin-bottom: 20px;
}

.specs_left_side div:first-child,
.specs_left_side div:last-child{
    margin-left: 20px;

}

.specs_left_side div p{
    font-size: 12px;
}

.specsification_list img {
    scale: 0.8;
}


.specs_left_side div p:last-child {
    color: #bdc0c2;
    font-size: 10px;
    margin-top: 5px;
    width: 70%;
}


.case{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.case_items{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.case_left_side img{
    scale: 0.8;
}

.case_right_side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.case_items div:last-child{
    width: 20%;
}

.case_right_side p:first-child{
color: #bdc0c2;
font-size: 12px;
font-weight: 400;
line-height: 25px;
margin-bottom: 20px;
}

.case_right_side p:last-child img{
    scale: 0.8;
    background-color: transparent;
}

.case_right_side p:last-child{
  width: fit-content;
  background: #1e1e21;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  padding: 10px 20px;
  margin-left: -60px;
  
}

.buy-product{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #181a1b;
    gap: 50px;
    margin-top: 70px;
    padding: 40px 0;
}

.buy-product div,
.buy-product p,
.buy-product h3,
.buy-product img {
    background-color: transparent;
}

.buy-product div{
    width: 25%;
}


.buy-product div h3{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.buy-product div p{
    color: #bdc0c2;
    font-size: 14px;
    margin-bottom: 15px;
}


.buy-product div div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 8px;
    width: fit-content;
    gap: 10px;
    padding: 10px 20px;
}

.buy-product div div img {
    scale: 0.8;
}
  
.buy-product div div p {
    margin-bottom: 0;
    font-size: 12px;
    color: white;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 0 150px;
}
  
.product-logo {
    display: flex;
    flex-direction: column;
}
  
.product-logo {
    scale: 0.3;
}
  
.product-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 50px;
}
  
.product-card {
    position: relative;
    width: 130px;
    height: 130px;
    background: #181a1b;
    border-radius: 8px;
}
  
.product-img {
    width: 75px;
    height: 100px;
    position: absolute;
    z-index: 100;
    top: -40px;
    left: 28px;
}
  
.product-img,
.product-card p,
.product-card span,
.product-card img,
.product-card div {
    background-color: transparent;
}
  
.product-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 15px;
}
  
.product-info p {
    font-size: 12px;
}
  
.product-info p span {
    color: #bdc0c2;
}
  
.product-info div {
    background: #0a0a0b;
    border-radius: 8px;
    padding: 2px 6px;
}
  
.product-info div img {
    width: 13px;
    height: 13px;
}
  
 
.footer{
    margin: 100px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}
  
.footer-logo{
    scale: 0.8;
}

.footer_ul {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   gap: 0px;
}
  
.footer_ul li a{
    font-size: 12px;
    color: #BDC0C2;
}
  
.footer_ul li:first-child a{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
  
.footer_ul li:first-child{
    margin-bottom: 10px;
}
  
.footer-subscription{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
  
.footer-subscription div:first-child{
    background: #181A1B;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
}
  
.footer-subscription div:first-child input{
    border: none;
    background-color: transparent;
}
    
.subscribe-button{
    background: #0A0A0B;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.subscribe-button img{
    scale: 0.8;
}
  
.subscribe-button p{
    font-size: 12px;
}
  
.footer-subscription div:last-child img{
    margin-right: 10px;
    scale: 0.8;
}
  
.arrow-up{
    position: absolute;
    right: -160px;
    scale: 0.8;
}